<h1></h1>
<form id="formAddUser" name="adduser" method="post" enctype="multipart/form-data" action="/adduserdirectory">
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" placeholder="firstname" name="firstName" class="form-control">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" placeholder="lastname" name="lastName" class="form-control">
  </div>
  <div class="form-group">
    <label for="uploadImage">Image:</label>
    <input id="uploadImage" type="file" name="uploadImage">
  </div>
  <button id="btnSubmit" type="submit" class="button btn btn-large btn-success">Submit</button>
</form>
        

